.row{
    padding: 20px;
    background-color: rgba(34, 34, 34, 1);
}

#nombre{
    font-weight: bold;
    color: white;
}

@media (max-width: 767px){
    #foto{
        width: 40%;
    }
}
@media(min-width:768px) and (max-width:1199px){
    #foto{
        width: 100%;
    }
}

@media(min-width:1200px){
    #foto{
        width: 80%;
    }
}





