<div class="container-lg" id="about">
    <div class="row align-items-center align-content-center">

      <div class="col-md-4">
        <div class="home-img text-center">
          <img src="../../../assets/Perfil.png" class="rounded-circle img-thumbnail" id="foto" alt="profile img">
        </div>
      </div>

      <div class="col-md-8 order-md-first">
        <div class="home-text">
          <h1 id="nombre">Gilson Ortiz</h1>
          <h2 class="text-white fs-4">Sobre mi</h2>
        </div>

        <div>
            <p class="mt-4 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maxime officiis accusamus provident delectus non itaque atque esse, ipsa ipsum, in, est fugit sequi molestias facere dicta temporibus voluptatem dignissimos?</p>
        </div>
      </div>
      
    </div>
  </div>
