<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Menu
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li class="nav-list-item" 
                    *ngFor="let item of list"
                >
        
                    <i class="{{item.icon}}"></i>
                    <span>
                        <a href="#">{{item.name}}</a>
                    </span>
                    
                </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="side-nav-button me-3">
        <ul class="navbar-nav mb-0 ">
          <li class="nav-item">
            <a class="nav-link active" href="https://www.linkedin.com/in/gilson-ortiz-garcia-2a8761217/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
          </li>
        </ul>
    </div>

    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            Gilson
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a href="#" class="dropdown-item">Log In</a></li>
            <li><a href="#" class="dropdown-item">Your Profile</a></li>
            <li><a href="#" class="dropdown-item">Log Out</a></li>
        </ul>
    </div>
</nav>
