

    <div class="container-lg mt-3"> 

        <div class="row">
         
          <h2 class="text-white fs-4">Experiencia</h2>
  
          <div class="container">
            <div class="row">
              <ul class="list-group">
             
  
              </ul>
              <div class="card mt-3">
                <div class="card-body">
                  <div class="card-title">
                    Agregar Nueva Experiencia
                  </div>
                </div>
              </div>
            </div>
          </div>
       
        <app-exp-button 
            id="edit" 
            text="Editar"
            (btnClick)="toggleEditExp()"
        ></app-exp-button>
      
        
      </div>
  
      </div>
