
    <div class="card-body" >
                <h5> Puesto : {{experiencia.puesto}}</h5>
                <p> Empresa : {{experiencia.empresa}}</p>
                <p> Fecha de Inicio : {{experiencia.fechaInicio}}</p>
                <p> Fecha de Finalizacion : {{experiencia.fechaFin}}</p>
                <button class="btn btn-outline-light" (click)="editarExperience()">Editar</button>
                <button class="btn btn-outline-light" (click)="deleteExperience()">Eliminar</button>
    </div>
